.Home{
    height: 106px;
    width: 100%;
    text-align: center;
    justify-content: center;
    padding: 1.5rem 0;
    border-top: 1px solid #ecf0f1;
    border-bottom: 1px solid #ecf0f1;
}

.title{
    font-family: 'STIX Two Math', serif;
    font-size: 2rem;
}

.subtitle{
    font-family: 'Zilla Slab', sans-serif;
    padding: 0 1rem;
}