.mobileMenu{
  height: 3.25rem;
}

/* Posição e tamanho do burger button */
.bm-burger-button {
    position: relative;
    width: 2rem;
    height: 1.3rem;
    left: 45vw;
    top: 15px;
  }
  
  /* Cor das barras */
  .bm-burger-bars {
    background: #ecf0f1;
  }
  
  /* Cor das barras quando clicada*/
  .bm-burger-bars-hover {
    background: #a90000;
  }
  
  /* Posição e tamanho do Botão para fechar o menu */
  .bm-cross-button {
    height: 24px;
    width: 24px;
  }
  
  /* Cor do botão de fechar(neste caso o x) */
  .bm-cross {
    background: #ecf0f1;
  }
  
  /*
  Estilos de wrapper da barra lateral
  Nota: Cuidado ao modificar este elemento, pois ele pode quebrar as animações - você não deve precisar tocá-lo na maioria dos casos
  */
  .bm-menu-wrap {
    position: fixed;
    height: 100%;
  }
  
  /* Estilos gerais da barra lateral */
  .bm-menu {
    background: #373a47;
    padding: 2.5rem 1.5rem 0;
    font-size: 1.15rem;
  }
  
  /*Forma de Morph necessária com bolha ou elástico */
  .bm-morph-shape {
    fill: #373a47;
  }
  
  /* Wrapper para lista de itens */
  .bm-item-list {
    color: #ecf0f1;
    padding: 0.8em;
  }
  
  /* Individual item */
  .bm-item {
    display: inline-block;
  }
  
  /* Styling of overlay */
  .bm-overlay {
    background: rgba(0, 0, 0, 0.3);
  }

  /* Individual item */
.bm-item {
    display: inline-block;
  
    color: #ecf0f1;
    margin-bottom: .5rem;
    text-align: left;
    text-decoration: none;
    transition: color 0.2s;
  }
  
  .bm-item:hover {
    color: #ffffff;
  }

  .bm-menu-wrap .bm-menu .bm-item-list{
  height: 50% !important;
}